macros {
    typeQu: typeQu {
        label = "typeQu";
        compatible = "zmk,behavior-macro";
        tap-ms = <10>;
        wait-ms = <10>;
        #binding-cells = <0>;
        bindings = <&macro_tap &kp Q>
                 , <&macro_release &kp LSHFT>
                 , <&macro_release &kp RSHFT>
                 , <&macro_tap &kp U>
            ;
    };
};
